/* 全局居中包含块 */
.global_wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 通用下拉按钮 */
.common_select_button {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  color: #31c27c;
  box-sizing: border-box;
}

.common_select_button:hover {
  border-radius: 3px 3px 0 0/3px 3px 0 0;
}

.common_select_button .visible-area {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 25px;
}

.common_select_button .visible-area .desc::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 18px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid;
  transform-origin: center 2px;
  transition: all .3s ease;
}

.common_select_button:hover .visible-area .desc::after {
  transform: rotate(180deg);
}

.common_select_button .hidden-area {
  visibility: hidden;
  opacity: 0;
  position: relative;
  margin: 0 -1px;
  border-top: 1px solid #c9c9c9;
  transition: all .3s ease;
  z-index: 9;
}

.common_select_button:hover .hidden-area {
  visibility: visible;
  opacity: 1;
}

.common_select_button .hidden-area a {
  display: block;
  padding: 0 15px;
  border: 1px solid #c9c9c9;
  border-top: none;
  background-color: #fff;
}

.common_select_button .hidden-area a:nth-last-child(1) {
  border-radius: 0 0 3px 3px/0 0 3px 3px;
}

.common_select_button .hidden-area a:hover {
  color: #fff;
  background-color: #31c27c;
  border-color: #31c27c;
}

/* 通用区域面板 */
.common_panel {
  position: relative;
  background-image: linear-gradient(180deg, #f2f2f2, #fafafa);
  overflow: hidden;
}

.common_panel .prev-button,
.common_panel .next-button {
  display: inline-flex;
  position: absolute;
  width: 79px;
  height: 108px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  transition: all .3s ease-out;
}

.common_panel .prev-button:hover,
.common_panel .next-button:hover {
  background-color: #e0e0e0;
}

.common_panel .prev-button {
  left: -79px;
}

.common_panel:hover .prev-button {
  left: 0;
}

.common_panel .next-button {
  right: -79px;
}

.common_panel:hover .next-button {
  right: 0;
}

.common_panel .prev-button .icon,
.common_panel .next-button .icon {
  width: 20px;
  height: 39px;
  background: url("../assets/images/icon_sprite.png") no-repeat;
}

.common_panel .prev-button .icon {
  background-position: -20px -120px;
}

.common_panel .next-button .icon {
  background-position: 0 -120px;
}

/* 通用标题 */
.common_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common_title .left-area,
.common_title .right-area {
  display: flex;
  flex: 1;
}

.common_title .right-area {
  justify-content: flex-end;
}

.common_title .center-area{
  width: 196px;
  height: 40px;
  text-indent: -9999px;
  background: url("../assets/images/title-sprite.png") no-repeat;
}

/* 通用右侧更多链接 */
.common_more {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 14px;
}

.common_more .right-arrow {
  width: 7px;
  height: 12px;
  margin-left: 6px;
  background: url("../assets/images/icon_sprite.png") no-repeat -120px -40px;
}

.common_more:hover,
.common_more:hover .right-arrow {
  color: #31c27c;
  background-position: -120px -60px;
}

/* 通用导航 */
.common_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.common_nav .left-area,
.common_nav .right-area {
  display: flex;
  flex: 1;
}

.common_nav .right-area {
  justify-content: flex-end;
}

.common_nav .center-area {
  display: flex;
}

.common_nav .center-area .item {
  margin: 0 24px;
}

.common_nav .center-area .item a {
  display: block;
  line-height: 1.5;
  font-size: 15px;
}

.common_nav .center-area .item a.active,
.common_nav .center-area .item a:hover {
  color: #31c27c;
}
