.content .title-area {
  margin: 50px 0 8px;
}

.content .index-area {
  margin-bottom: 15px;
}

/* 歌单推荐 */
.content .song-list-recommend .title-area .center-area {
  background-position: 0 0;
}

.content .song-list-recommend .container-area {
  display: flex;
  margin: 15px 0 35px;
  overflow: hidden;
}

.content .song-list-recommend .container-area .container-list {
  display: flex;
}

.content .song-list-recommend .container-item {
  width: 224px;
  margin-right: 20px;
}

.content .song-list-recommend .container-item .album {
  width: 224px;
  height: 224px;
  margin-bottom: 15px;
}

.content .song-list-recommend .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .song-list-recommend .container-item .info .title,
.content .song-list-recommend .container-item .info .desc {
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .song-list-recommend .container-item .info .title {
  color: #000;
}

.content .song-list-recommend .container-item .info .title:hover {
  color: #31c27c;
}

.content .song-list-recommend .container-item .info .desc {
  color: #999;
}

/* 新歌首发 */
.content .new-song-publish .title-area .center-area {
  background-position: 0 -50px;
}

.content .new-song-publish .nav-area .left-area .play-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 38px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  color: #000;
  box-sizing: border-box;
}
.content .new-song-publish .nav-area .left-area .play-all:hover {
  background-color: #ededed;
}

.content .new-song-publish .nav-area .left-area .play-all .icon {
  width: 13px;
  height: 16px;
  margin-right: 6px;
  background: url("../assets/images/icon_sprite.png") no-repeat -60px -220px;
}

.content .new-song-publish .container-area {
  display: flex;
  margin: 20px -30px 0 0;
  overflow: hidden;
}

.content .new-song-publish .container-area .container-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.content .new-song-publish .container-area .container-item {
  width: 410px;
  height: 111px;
  padding-right: 30px;
  box-sizing: border-box;
}

.content .new-song-publish .container-area .container-item .parcel {
  display: flex;
  height: 110px;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.content .new-song-publish .container-area .container-item:nth-last-child(-n + 3) .parcel {
  border-bottom: none;
}

.content .new-song-publish .container-area .container-item .album {
  width: 86px;
  height: 86px;
  flex-shrink: 0;
}

.content .new-song-publish .container-area .container-item .album .play-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.content .new-song-publish .container-area .container-item .song-info {
  flex: 1;
  padding: 0 60px 0 12px;
  overflow: hidden;
}

.content .new-song-publish .container-area .container-item .song-info a {
  display: block;
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .new-song-publish .container-area .container-item .song-info a:hover {
  color: #31c27c;
}

.content .new-song-publish .container-area .container-item .song-info .author,
.content .new-song-publish .container-area .container-item .duration {
  color: #999;
}

/* 精彩推荐 */
.content .wonderful-recommend .title-area .center-area {
  background-position: 0 -100px;
}

.content .wonderful-recommend .container-area {
  display: flex;
  margin: 20px 0;
  overflow: hidden;
}

.content .wonderful-recommend .container-area .container-list {
  display: flex;
}

.content .wonderful-recommend .container-area .container-item {
  margin-right: 20px;
}

.content .wonderful-recommend .container-area .container-item .album {
  display: block;
  width: 590px;
  height: 236px;
}

.content .wonderful-recommend .container-area .container-item .album img {
  width: 100%;
  height: 100%;
}


/* 新碟首发 */
.content .new-disk-publish .title-area .center-area {
  background-position: 0 -150px;
}

.content .new-disk-publish .container-area {
  display: flex;
  margin: 15px -20px 0 0;
  overflow: hidden;
}

.content .new-disk-publish .container-area .container-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.content .new-disk-publish .container-item {
  width: 224px;
  margin: 0 20px 25px 0;
}

.content .new-disk-publish .container-item .album {
  width: 224px;
  height: 224px;
  margin-bottom: 15px;
}

.content .new-disk-publish .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .new-disk-publish .container-item .info a {
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .new-disk-publish .container-item .info .title {
  color: #000;
}

.content .new-disk-publish .container-item .info .title:hover,
.content .new-disk-publish .container-item .info .desc:hover {
  color: #31c27c;
}

.content .new-disk-publish .container-item .info .desc {
  display: inline-block;
  color: #999;
}

/* 排行榜 */
.content .ranking-panel .title-area .center-area {
  background-position: 0 -200px;
}

/* MV */
.content .MV-panel .title-area .center-area {
  background-position: 0 -250px;
}