.content .title-area {
  margin: 50px 0 8px;
}

/* 歌单推荐 */
.content .song-list-recommend .title-area .center-area {
  background-position: 0 0;
}

.content .song-list-recommend .container-area {
  display: flex;
  flex-wrap: nowrap;
  margin: 15px 0 35px;
  overflow: hidden;
}

.content .song-list-recommend .container-area .container-list {
  display: flex;
}

.content .song-list-recommend .container-item {
  width: 224px;
  margin-right: 20px;
}

.content .song-list-recommend .container-item .album {
  width: 224px;
  height: 224px;
  margin-bottom: 15px;
}

.content .song-list-recommend .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .song-list-recommend .container-item .info .title,
.content .song-list-recommend .container-item .info .desc {
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .song-list-recommend .container-item .info .title {
  color: #000;
}

.content .song-list-recommend .container-item .info .title:hover {
  color: #31c27c;
}

.content .song-list-recommend .container-item .info .desc {
  color: #999;
}

.content .song-list-recommend .index-area {
  margin-bottom: 15px;
}

/* 新歌首发 */
.content .new-song-publish .title-area .center-area {
  background-position: 0 -50px;
}

.content .new-song-publish .nav-area .left-area .play-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 38px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  color: #000;
  box-sizing: border-box;
}
.content .new-song-publish .nav-area .left-area .play-all:hover {
  background-color: #ededed;
}

.content .new-song-publish .nav-area .left-area .play-all .icon {
  width: 13px;
  height: 16px;
  margin-right: 6px;
  background: url("../assets/images/icon_sprite.png") no-repeat -60px -220px;
}

/* 精彩推荐 */
.content .wonderful-recommend .title-area .center-area {
  background-position: 0 -100px;
}

/* 新碟首发 */
.content .new-disk-publish .title-area .center-area {
  background-position: 0 -150px;
}

/* 排行榜 */
.content .ranking-panel .title-area .center-area {
  background-position: 0 -200px;
}

/* MV */
.content .MV-panel .title-area .center-area {
  background-position: 0 -250px;
}