.content .title-area {
  margin: 50px 0 8px;
}

.content .index-area {
  margin-bottom: 15px;
}

/* 歌单推荐 */
.content .song-list-recommend .title-area .center-area {
  background-position: 0 0;
}

.content .song-list-recommend .container-area {
  display: flex;
  margin: 15px 0 35px;
  overflow: hidden;
}

.content .song-list-recommend .container-area .container-list {
  display: flex;
}

.content .song-list-recommend .container-item {
  width: 224px;
  margin-right: 20px;
}

.content .song-list-recommend .container-item .album {
  width: 224px;
  height: 224px;
  margin-bottom: 15px;
}

.content .song-list-recommend .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .song-list-recommend .container-item .info .title,
.content .song-list-recommend .container-item .info .desc {
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .song-list-recommend .container-item .info .title {
  color: #000;
}

.content .song-list-recommend .container-item .info .title:hover {
  color: #31c27c;
}

.content .song-list-recommend .container-item .info .desc {
  color: #999;
}

/* 新歌首发 */
.content .new-song-publish .title-area .center-area {
  background-position: 0 -50px;
}

.content .new-song-publish .nav-area .left-area .play-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 38px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  color: #000;
  box-sizing: border-box;
}
.content .new-song-publish .nav-area .left-area .play-all:hover {
  background-color: #ededed;
}

.content .new-song-publish .nav-area .left-area .play-all .icon {
  width: 13px;
  height: 16px;
  margin-right: 6px;
  background: url("../assets/images/icon_sprite.png") no-repeat -60px -220px;
}

.content .new-song-publish .container-area {
  display: flex;
  margin: 20px -30px 0 0;
  overflow: hidden;
}

.content .new-song-publish .container-area .container-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.content .new-song-publish .container-area .container-item {
  width: 410px;
  height: 111px;
  padding-right: 30px;
  box-sizing: border-box;
}

.content .new-song-publish .container-area .container-item .parcel {
  display: flex;
  height: 110px;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.content .new-song-publish .container-area .container-item:nth-last-child(-n + 3) .parcel {
  border-bottom: none;
}

.content .new-song-publish .container-area .container-item .album {
  width: 86px;
  height: 86px;
  flex-shrink: 0;
}

.content .new-song-publish .container-area .container-item .album .play-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.content .new-song-publish .container-area .container-item .song-info {
  flex: 1;
  padding: 0 60px 0 12px;
  overflow: hidden;
}

.content .new-song-publish .container-area .container-item .song-info a {
  display: block;
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .new-song-publish .container-area .container-item .song-info a:hover {
  color: #31c27c;
}

.content .new-song-publish .container-area .container-item .song-info .author,
.content .new-song-publish .container-area .container-item .duration {
  color: #999;
}

/* 精彩推荐 */
.content .wonderful-recommend .title-area .center-area {
  background-position: 0 -100px;
}

.content .wonderful-recommend .container-area {
  display: flex;
  margin: 20px 0;
  overflow: hidden;
}

.content .wonderful-recommend .container-area .container-list {
  display: flex;
}

.content .wonderful-recommend .container-area .container-item {
  margin-right: 20px;
}

.content .wonderful-recommend .container-area .container-item .album {
  display: block;
  width: 590px;
  height: 236px;
}

.content .wonderful-recommend .container-area .container-item .album img {
  width: 100%;
  height: 100%;
}


/* 新碟首发 */
.content .new-disk-publish .title-area .center-area {
  background-position: 0 -150px;
}

.content .new-disk-publish .container-area {
  display: flex;
  margin: 15px -20px 0 0;
  overflow: hidden;
}

.content .new-disk-publish .container-area .container-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.content .new-disk-publish .container-item {
  width: 224px;
  margin: 0 20px 25px 0;
}

.content .new-disk-publish .container-item .album {
  width: 224px;
  height: 224px;
  margin-bottom: 15px;
}

.content .new-disk-publish .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .new-disk-publish .container-item .info a {
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .new-disk-publish .container-item .info .title {
  color: #000;
}

.content .new-disk-publish .container-item .info .title:hover,
.content .new-disk-publish .container-item .info .desc:hover {
  color: #31c27c;
}

.content .new-disk-publish .container-item .info .desc {
  display: inline-block;
  color: #999;
}

/* 排行榜 */
.content .ranking-panel .title-area .center-area {
  background-position: 0 -200px;
}

.content .ranking-panel .container-area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 70px;
}

.content .ranking-panel .container-area .container-item {
  position: relative;
  width: 224px;
  height: 500px;
  overflow: hidden;
}

.content .ranking-panel .container-area .container-item .bg-album {
  width: 100%;
  height: 100%;
  background: url("../assets/images/album-sprite.webp") no-repeat;
  transition: all .5s ease-out;
}

.content .ranking-panel .container-area .container-item:hover .bg-album {
  transform: scale(1.1);
  transform-origin: center center;
}

.content .ranking-panel .container-area .hot .bg-album {
  background-position: 0 0;
}

.content .ranking-panel .container-area .new .bg-album {
  background-position: -224px 0;
}

.content .ranking-panel .container-area .fashion .bg-album {
  background-position: -448px 0;
}

.content .ranking-panel .container-area .english .bg-album {
  background-position: -672px 0;
}

.content .ranking-panel .container-area .korea .bg-album {
  background-position: -896px 0;
}

.content .ranking-panel .container-item .title {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.content .ranking-panel .container-item .title::before {
  content: "";
  display: block;
  width: 66px;
  height: 22px;
  margin: 0 auto 5px;
  background: url("../assets/images/title-sprite.png") no-repeat 0 -300px;
}

.content .ranking-panel .container-item .title a {
  color: #fff;
}

.content .ranking-panel .container-item .line {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
}

.content .ranking-panel .container-item .play-icon {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 134px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all .3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.content .ranking-panel .container-item:hover .line {
  display: none;
}

.content .ranking-panel .container-item:hover .play-icon {
  visibility: visible;
  opacity: 1;
  transform: scale(1.6);
}

.content .ranking-panel .container-item .top-song {
  position: absolute;
  top: 185px;
  left: 0;
  right: 0;
  margin: 0;
  color: #fff;
}

.content .ranking-panel .container-item .top-song-item {
  display: flex;
  margin-bottom: 25px;
  padding: 0 30px;
  line-height: 1.8;
}

.content .ranking-panel .container-item .top-song-item .index {
  width: 15px;
}

.content .ranking-panel .container-item .top-song-item .song-info {
  flex: 1;
  overflow: hidden;
}

.content .ranking-panel .container-item .top-song-item .song-info a {
  display: block;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* MV */
.content .MV-panel .title-area .center-area {
  background-position: 0 -250px;
}

.content .MV-panel .container-area {
  display: flex;
  margin: 15px -20px 0 0;
  overflow: hidden;
}

.content .MV-panel .container-area .container-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.content .MV-panel .container-item {
  width: 224px;
  margin: 0 20px 25px 0;
}

.content .MV-panel .container-item .album {
  width: 224px;
  height: 127px;
  margin-bottom: 15px;
}

.content .MV-panel .container-item .album .play-icon {
  width: 49px;
  height: 49px;
  background-size: 49px 49px;
}

.content .MV-panel .container-item .info p {
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .MV-panel .container-item .info .title {
  color: #000;
}

.content .MV-panel .container-item .info .title:hover,
.content .MV-panel .container-item .info .desc:hover {
  color: #31c27c;
}

.content .MV-panel .container-item .info .desc,
.content .MV-panel .container-item .info .play-count {
  color: #999;
}

.content .MV-panel .container-item .info .play-count {
  display: flex;
  align-items: center;
}

.content .MV-panel .container-item .info .play-count .icon {
  width: 19px;
  height: 12px;
  margin-right: 5px;
  background: url("../assets/images/icon_sprite.png") no-repeat -180px -20px;
}

/* 侧边固定导航 */
.aside-nav {
  display: flex;
  position: fixed;
  right: 50px;
  bottom: 50px;
  flex-direction: column;
}

.aside-nav .aside-nav-item {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.aside-nav .aside-nav-item a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
}

.aside-nav .aside-nav-item a:hover {
  color: #31c27c;
  background-color: #ededed;
}

.aside-nav .aside-nav-item.to-top a,
.aside-nav .aside-nav-item.player a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-nav .aside-nav-item.to-top a::before,
.aside-nav .aside-nav-item.player a::before {
  content: "";
  display: block;
  background: url("../assets/images/icon_sprite.png") no-repeat;
}

.aside-nav .aside-nav-item.to-top a::before {
  width: 18px;
  height: 10px;
  background-position: -160px 0;
}

.aside-nav .aside-nav-item.player a::before {
  width: 20px;
  height: 17px;
  background-position: -180px 0;
}
