.footer {
  background-color: #333;
}

/* 分类区域 */
.footer .category-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
  padding-left: 15px;
}

.footer .category-area .category-item {
  width: 357px;
}

.footer .category-area .category-item .title {
  margin: 80px 0 30px;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

/* 下载QQ音乐客户端 */
.footer .category-area .download-app .download-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -26px;
}

.footer .category-area .download-app .download-item {
  width: 93px;
}

.footer .category-area .download-app .download-item a {
  display: block;
  color: #999;
  text-align: center;
}

.footer .category-area .download-app .download-item .icon {
  display: block;
  margin: 0 auto 12px;
  background: url("../assets/images/footer-sprite.png") no-repeat;
}

.footer .category-area .download-app .download-item.PC .icon {
  width: 37px;
  height: 48px;
  background-position: -2px 0;
}

.footer .category-area .download-app .download-item.PC:hover a,
.footer .category-area .download-app .download-item.PC:hover .icon {
  color: #31c27c;
  background-position: -2px -49px;
}

.footer .category-area .download-app .download-item.Mac .icon {
  width: 46px;
  height: 48px;
  background-position: -92px 0;
}

.footer .category-area .download-app .download-item.Mac:hover a,
.footer .category-area .download-app .download-item.Mac:hover .icon {
  color: #31c27c;
  background-position: -92px -49px;
}

.footer .category-area .download-app .download-item.Android .icon {
  width: 37px;
  height: 48px;
  background-position: -190px 0;
}

.footer .category-area .download-app .download-item.Android:hover a,
.footer .category-area .download-app .download-item.Android:hover .icon {
  color: #31c27c;
  background-position: -190px -49px;
}

.footer .category-area .download-app .download-item.iPhone .icon {
  width: 34px;
  height: 48px;
  background-position: -279px 0;
}

.footer .category-area .download-app .download-item.iPhone:hover a,
.footer .category-area .download-app .download-item.iPhone:hover .icon {
  color: #31c27c;
  background-position: -279px -49px;
}

/* 特色产品 */
.footer .category-area .feature-product .product-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}

.footer .category-area .feature-product .product-item {
  width: 93px;
  margin-bottom: 20px;
}

.footer .category-area .feature-product .product-item a {
  display: block;
  color: #999;
  text-align: center;
}

.footer .category-area .feature-product .product-item .icon {
  display: block;
  margin: 0 auto 12px;
  background: url("../assets/images/footer-sprite.png") no-repeat;
}

.footer .category-area .feature-product .product-item.K-song .icon {
  width: 41px;
  height: 48px;
  background-position: -370px 0;
}

.footer .category-area .feature-product .product-item.K-song:hover a,
.footer .category-area .feature-product .product-item.K-song:hover .icon {
  color: #31c27c;
  background-position: -370px -49px;
}

.footer .category-area .feature-product .product-item.galaxy-sound .icon {
  width: 37px;
  height: 48px;
  background-position: -463px 0;
}

.footer .category-area .feature-product .product-item.galaxy-sound:hover a,
.footer .category-area .feature-product .product-item.galaxy-sound:hover .icon {
  color: #31c27c;
  background-position: -463px -48px;
}

.footer .category-area .feature-product .product-item.QPlay .icon {
  width: 40px;
  height: 48px;
  background-position: -563px 0;
}

.footer .category-area .feature-product .product-item.QPlay:hover a,
.footer .category-area .feature-product .product-item.QPlay:hover .icon {
  color: #31c27c;
  background-position: -563px -49px;
}

.footer .category-area .feature-product .product-item.Fan-live .icon {
  width: 40px;
  height: 48px;
  background-position: -650px 0;
}

.footer .category-area .feature-product .product-item.Fan-live:hover a,
.footer .category-area .feature-product .product-item.Fan-live:hover .icon {
  color: #31c27c;
  background-position: -650px -51px;
}

/* 合作链接 */
.footer .category-area .cooperation-link {
  flex-basis: 300px;
}

.footer .category-area .cooperation-link .link-list {
  display: flex;
  flex-wrap: wrap;
}

.footer .category-area .cooperation-link .link-list li {
  width: 100px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}

.footer .category-area .cooperation-link .link-list li a {
  color: #999;
}

.footer .category-area .cooperation-link .link-list li a:hover {
  color: #31c27c;
}

/* 开放平台 */
.footer .category-area .open-platform {
  flex-basis: 400px;
}

.footer .category-area .open-platform .platform-list {
  display: flex;
  flex-wrap: wrap;
}

.footer .category-area .open-platform .platform-list li {
  margin: 0 30px 15px 0;
}

.footer .category-area .open-platform .platform-list a {
  color: #999;
}

.footer .category-area .open-platform .platform-list a:hover {
  color: #31c27c;
}

/* TME集团官网 */
.footer .category-area .TME-website {
  flex-basis: 310px;
}

.footer .category-area .TME-website .list {
  display: flex;
  flex-wrap: wrap;
}

.footer .category-area .TME-website .list li {
  margin: 0 30px 15px 0;
}

.footer .category-area .TME-website .list li a {
  color: #999;
}

.footer .category-area .TME-website .list li a:hover {
  color: #31c27c;
}

/* 网站说明 */
.footer .website-desc {
  padding: 24px 0;
}

.footer .website-desc .other-link,
.footer .website-desc .website-info,
.footer .website-desc .legal-relevance {
  display: flex;
  justify-content: center;
  line-height: 28px;
  font-size: 12px;
  color: #999;
}

.footer .website-desc .other-link a,
.footer .website-desc .website-info a,
.footer .website-desc .legal-relevance a {
  color: #999;
}

.footer .website-desc .other-link a:hover,
.footer .website-desc .website-info a:hover,
.footer .website-desc .legal-relevance a:hover {
  color: #31c27c;
}

.footer .website-desc .other-link .separator,
.footer .website-desc .legal-relevance .separator {
  margin: 0 3px;
}

.footer .website-desc .website-info span {
  margin-right: 5px;
}

.footer .website-desc .legal-relevance .text {
  margin-right: 5px;
}
