.header .top-bar {
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid #f2f2f2;
}

.header .top-bar .left-area, 
.header .top-bar .right-area {
  display: flex;
  align-items: center;
}

.header .top-bar .logo {
  width: 170px;
  height: 46px;
  margin-right: 30px;
}

.header .top-bar .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .top-bar .logo img {
  width: 100%;
}

.header .top-bar .menu-list {
  display: flex;
}

.header .top-bar .menu-list .item a {
  display: block;
  height: 90px;
  line-height: 90px;
  padding: 0 20px;
  font-size: 18px;
}

.header .top-bar .menu-list .item a:hover {
  color: #31c27c;
}

.header .top-bar .menu-list .item a.active {
  color: #fff;
  background-color: #31c27c;
}

.header .top-bar .menu-list .item.top-mark {
  position: relative;
}

.header .top-bar .menu-list .item.top-mark img {
  position: absolute;
  width: 38px;
  top: 18px;
  left: 57px;
}

.header .top-bar .search {
  position: relative;
  width: 220px;
  height: 38px;
  margin-right: 20px;
  padding: 0 33px 0 11px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-sizing: border-box;
}

.header .top-bar .search .search-input {
  width: 174px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #757575;
  border: none;
}

.header .top-bar .search .search-input::placeholder {
  color: #757575;
}

.header .top-bar .search .search-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
  border-radius: 3px;
}

.header .top-bar .search .search-icon {
  width: 16px;
  height: 16px;
  background: url("../assets/images/icon_sprite.png") no-repeat;
  background-position: 0 -40px;
}

.header .top-bar .search .search-button:hover .search-icon {
  background-position: 0 -60px;
}

.header .top-bar .search .search-history {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 36px;
  left: -1px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.header .top-bar .search .search-history .item {
  width: 100%;
}

.header .top-bar .search .search-history a {
  display: flex;
  justify-content: space-between;
  height: 36px;
  line-height: 36px;
  padding: 0 11px 0 5px;
  background-color: #fff;
}

.header .top-bar .search .search-history a:hover, 
.header .top-bar .search .search-history a:hover .index, 
.header .top-bar .search .search-history a:hover .hot {
  color: #fff;
  background-color: #31c27c;
}

.header .top-bar .search-history .info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .top-bar .search-history .index {
  display: inline-block;
  width: 18px;
  text-align: center;
  color: #ff4222;
}

.header .top-bar .search-history .hot {
  white-space: nowrap;
  color: #999;
}

.header .top-bar .search .search-history .operate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 5px 0;
}

.header .top-bar .search .search-history .operate .desc {
  padding-left: 11px;
  color: #999;
}

.header .top-bar .search .search-history .operate a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: #fff;
}

.header .top-bar .search .search-history .operate i {
  width: 16px;
  height: 16px;
  background: url("../assets/images/icon_sprite.png") no-repeat;
  background-position: -100px 0;
}

.header .top-bar .search .search-history .operate a:hover i {
  background-position: -20px -60px;
}

.header .top-bar .search:hover .search-history, 
.header .top-bar .search .search-history:hover {
  visibility: visible;
  opacity: 1;
}

.header .top-bar .active-vip {
  margin-right: 10px;
  border-color: #31c27c;
  background-color: #31c27c;
}

.header .top-bar .active-vip .visible-area {
  color: #fff;
}

.header .top-bar .top-up .visible-area:hover {
  color: #fff;
  background-color: #31c27c;
}

.header .top-bar .top-up:has(.visible-area:hover) {
  border-color: #31c27c;
}

.header .top-bar .top-up .hidden-area a {
  position: relative;
}

.header .top-bar .top-up .hidden-area a span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 100%;
  border: 1px solid #c9c9c9;
  border-radius: 0 3px 3px 0/0 3px 3px 0;
  color: #333;
  background-color: #fff;
  transition: all .3s ease;
}

.header .top-bar .top-up .hidden-area a span:hover {
  color: #fff;
  background-color: #31c27c;
  border-color: #31c27c;
  border-left-color: #c9c9c9;
}

.header .top-bar .top-up .hidden-area .payment:hover span{
  visibility: visible;
  opacity: 1;
}
